﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenwoodhall Reporting - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">


        <header id="header">
            <div class="col-md-3">
                <img src="~/Content/images/GHLogo.jpg" style="height: 50px;" />
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-5">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#divNav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="divNav">
                    <ul class="nav navbar-nav" style="margin-left: 5%;">
                        <li><a href="/">Search</a></li>
                        <li><a href="#">Tools</a></li>
                    </ul>
                    @if (User.IsInRole("Administrator") || User.Identity.Name == "dwright@greenwoodhall.com")
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index", "Admin")">Administration</a></li>
                        </ul>
                    }
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div id="content" class="container body-content">
            @RenderBody()
        </div>
        <hr />
        <footer id="footer">
            <p class="col-md-3 col-md-push-1">&copy; @DateTime.Now.Year - Greenwoodhall Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
