﻿@using OpsLibrary.Entities;
@{
    int difference = (int)ViewData["CallDef"];
    double avg = (double)ViewData["Avg"];
    CallVolumeDate max = (CallVolumeDate)ViewData["Max"];
    CallVolumeDate min = (CallVolumeDate)ViewData["Min"];

    List<CallVolumeDate> fWeek = (List<CallVolumeDate>)ViewData["WeekOneStats"];
    List<CallVolumeDate> sWeek = (List<CallVolumeDate>)ViewData["WeekTwoStats"];
}

<div class="container row">
    <div class="col-md-6">
        <div id="linechart" class="col-md-6">

        </div>
        <div>
            <table class="tblVol" style="margin-top: 10px;">
                <tr>
                    <th>
                        <label>Day of Week</label>
                    </th>
                    <th><label>First Week</label></th>
                    <th><label>Second Week</label></th>
                </tr>
                @for (int i = 0; i < fWeek.Count; i++)
                {
                    //first week bracket
                    <tr>
                        <td>@fWeek[i].DayOfWeek</td>
                        <td>@fWeek[i].CallCount</td>
                        <td>@sWeek[i].CallCount</td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <style>
        .table label{
            margin-left:10px;
        }
    </style>
    <div class="col-md-5 col-md-push-1">
        <table class="table table-bordered table-hover" style="text-align:center; font-size: medium; margin-top: 20px;">
            <tr>
                <th>
                    <label>+/-</label>
                </th>
                <th>
                    <label>Average</label>
                </th>
                <th>
                    <label>Highest Day</label>
                </th>
                <th>
                    <label>Lowest Day</label>
                </th>
            </tr>
            <tr>
                <td>
                    @if(difference > 0)
                    {
                        <p style="color:green;">@difference</p>
                    }
                    else
                    {
                        <p style="color:red;">@difference</p>
                    }

                </td>
                <td>
                    @String.Format("{0:.##}", avg)
                </td>
                <td>
                    @max.Date.DayOfWeek
                </td>
                <td>
                    @min.Date.DayOfWeek
                </td>
            </tr>
        </table>
    </div>
</div>

