﻿body {
    color: #655F61;
    font: 0.75em/1.25em Arial,Helvetica,sans-serif;
    /*background: none repeat scroll 0 0 #FBF9F2;*/
    background-color: transparent;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;

}

TABLE, TR, TD, DIV, TEXTAREA, INPUT, SELECT, UL, OL {
    color: #655F61;
    /*line-height: 15px;*/
}

.formFieldMediumLeft {
    width: 195px;
}
.formFieldMediumRight {
    
}
.formFieldLabel {
    padding-bottom: 5px;
}

.formFieldMedium {
    width: 200px;
}


.formTextAreaWidthLarge {
    width: 400px;
}
.formTextAreaSmall {
    height: 57px;
    width: 200px;
}

.formFieldLarge {
    width: 400px;
}
.formFieldText {
    background-color: #F5F4EF;
    border: 1px solid #7F9EB3;
    color: #5F5F5F;
    font-size: 12px;
    height: 15px;
    padding: 3px 3px 3px 3px;
    /*border-radius: 4px;*/
    width: 200px;
    float: right;
}


.formFieldTextArea {
    background-color: #F5F4EF;
    border: 1px solid #7F9EB3;
    color: #5F5F5F;
    font-size: 12px;
    height: 50px;
    padding: 3px 3px 3px 3px;
    /*border-radius: 4px;*/
    width: 200px;
    float: right;
}
.formTextArea {
    background-color: #F5F4EF;
    border: 1px solid #7F9EB3;
    color: #5F5F5F;
    font-size: 12px;
    /*border-radius: 4px;*/
    padding: 3px 3px 3px 3px;
}
.formFieldSelect {
    background-color: #F5F4EF;
    border: 1px solid #7F9EB3;
    color: #5F5F5F;
    font-size: 11px;
    height: 23px;
    padding: 3px 3px 3px 3px;
    /*border-radius: 4px;*/
    width: 208px;
    float: right;
}
.formNegCap {
    display: none;
}



.formField
        {
        padding-top: 5px;
        padding-bottom: 5px;
        -moz-appearance: none;
        }
    
.validation-error
{
    background-color: #FFFFCC;
}

.error {
    font-size: 12px;

}

.link {
    clear: both;
    color: #0F5EA8;
    display: block;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    padding-top: 5px;
}
.link:hover {
    text-decoration: underline;
    
}
.submit_old {
    /* replaced on 2017-04-05 per client request */
    background-image:url('http://www.hgtc.edu/_resources/images/bg-heading.gif');
    background-repeat: repeat-x;
    background-position: center center;
    color: #ffffff;
    border-width: 0px;
    padding: 3px 5px;
}
.submit {
    background-color: #0054a4;
    background-position: center center;
    background-repeat: repeat-x;
    border-width: 0;
    color: #ffffff;
    padding: 3px 5px;
}