﻿body {
    color: #655F61;
    font: 0.75em/1.25em Arial,Helvetica,sans-serif;
    /*background: none repeat scroll 0 0 #FBF9F2;*/
    background-color: transparent;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;

}

TABLE, TR, TD, DIV, TEXTAREA, INPUT, SELECT, UL, OL {
    color: #655F61;
    line-height: 15px;
}

.formFieldMediumLeft {
    width: 195px;
}
.formFieldMediumRight {
    width: 200px;
}
.formFieldLabel {
    padding-bottom: 2px;
}

.formFieldMedium {
    width: 200px;
}


.formTextAreaWidthLarge {
    width: 400px;
}
.formTextAreaSmall {
    height: 57px;
    width: 400px;
}

.formFieldLarge {
    width: 400px;
}
.formFieldText {
    background-color: #FFFFFF;
    border-color: #999999;
    border-left: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-size: 11px;
    height: 15px;
}
.formTextArea {
    background-color: #FFFFFF;
    border-color: #999999;
    border-left: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-size: 11px;
}
.formNegCap {
    display: none;
}

.formField
        {
        padding-top: 5px;
        padding-bottom: 5px;
        -moz-appearance: none;
        }
    
.validation-error
{
    background-color: #FFFFCC;
}

.error {
    font-size: 12px;

}

.link {
    color: #0F5EA8;
    text-decoration:none;
    font-size: 12px;
}
.link:hover {
    text-decoration: underline;
    
}
.submit_old {
    /* replaced on 2017-04-05 per client request */
    background-image:url('http://www.hgtc.edu/_resources/images/bg-heading.gif');
    background-repeat: repeat-x;
    background-position: center center;
    color: #ffffff;
    border-width: 0px;
    padding: 3px 5px;
}
.submit {
    background-color: #0054a4;
    background-position: center center;
    background-repeat: repeat-x;
    border-width: 0;
    color: #ffffff;
    padding: 3px 5px;
}