﻿@model IEnumerable<OpsLibrary.Entities.UserViewModel>
@using OpsLibrary.Entities;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> roles = (List<string>)ViewData["Roles"];
}

<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">User Directory</a></li>
        <li role="presentation"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="users">
            <div class="row">
                @if (ViewBag.Result != null)
            {
                if (ViewBag.Result == "User has been Created!")
                {
                        <h4 class="col-md-8 col-md-push-2 alert-success">@ViewBag.Result</h4>
                    }
                    else
                    {
                        <h4 class="col-md-8 col-md-push-2 alert-danger">@ViewBag.Result</h4>
                    }
                }
            </div>
            <table class="table">
                <tr>
                    <th>
                        <label>User ID</label>
                    </th>
                    <th>
                        <label>Username</label>
                    </th>
                    <th>
                        <label>Email</label>
                    </th>
                    <th>
                        <label>Role</label>
                    </th>
                </tr>
                @foreach (UserViewModel a in Model)
                {
                    <tr>
                        <td>
                            <a class="aUserId" href="#" data-toggle="modal" data-target="#userModal">@a.UserId</a>
                        </td>
                        <td>
                            @a.Username
                        </td>
                        <td>
                            @a.Email
                        </td>
                        <td>
                            @a.Role
                        </td>
                    </tr>
                }
            </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="create">
            @using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-3">Role/Claim</label>
                        <div class="col-md-8">
                            <select name="ddlRole">
                                @foreach (string s in roles)
                                {
                                    <option value="@s">@s</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email:</label>
                        <div class="col-md-10">
                            <input type="text" name="txtEmail" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password:</label>
                        <div class="col-md-10">
                            <input type="password" name="txtPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Confirm Password:</label>
                        <div class="col-md-10">
                            <input type="password" name="txtConPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
            }

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userModalLabel">Modify/Delete User</h4>
            </div>
            <div class="modal-body">
                ...Loading
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".aUserId").click(function () {

                var userId = { userId : $(this).text() };

                $.post("@Url.Action("GetUserInfo", "Admin")", userId, function (data) {
                    $(".modal-body").empty();
                    $(".modal-body").append(data);
                });
            });
        });

    </script>
}