﻿html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    background: #ededed;
    padding: 10px;
}
 

#footer {
    background: #343449;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#divJumbo {
    background-image: url('Images/books-2596809_960_720.jpg');
    max-height: 1200px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1%;
}

.navbar-brand {
    padding-top: 5px;
    padding-left: 45%;
}

.ddl {
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 3px;
    /*-webkit-appearance: none;*/
    /*background-image: url('Images/Arrowhead-Down-01.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}
